---
http_interactions:
- request:
    method: get
    uri: http://api.local.pcfdev.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Vcap-Request-Id:
      - a913b55e-66cc-4431-5c8a-4b2327a115a0::f269066c-d7fb-45c8-b703-553344a6c442
      - f00467b1-1ee0-4ed9-508e-e7ccb99bb479
    body:
      encoding: UTF-8
      string: '{"name":"pcfdev","build":"788020ed6e326f98d2489f08d9cae171aba7d71d","support":"pcfdev@pivotal.io","version":0,"description":"","authorization_endpoint":"https://login.local.pcfdev.io","token_endpoint":"https://uaa.local.pcfdev.io","min_cli_version":null,"min_recommended_cli_version":null,"api_version":"2.54.0","app_ssh_endpoint":"ssh.local.pcfdev.io:2222","app_ssh_host_key_fingerprint":"a6:d1:08:0b:b0:cb:9b:5f:c4:ba:44:2a:97:26:19:8a","app_ssh_oauth_client":"ssh-proxy","logging_endpoint":"wss://loggregator.local.pcfdev.io:443","doppler_logging_endpoint":"wss://doppler.local.pcfdev.io:443"}'
  recorded_at: Thu, 10 Nov 2016 00:48:19 GMT
- request:
    method: post
    uri: https://login.local.pcfdev.io/oauth/token
    body:
      encoding: UTF-8
      string: client_id=cf&client_secret=&username=user&password=&grant_type=password
    headers:
      Authorization:
      - basic 0123
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Vcap-Request-Id:
      - 0ef71900-e707-484f-5de3-fa66cce72d2f
    body:
      encoding: UTF-8
      string: '{"access_token":"0123","token_type":"bearer","refresh_token":"6789","expires_in":599,"scope":"openid
        uaa.user cloud_controller.read password.write cloud_controller.write","jti":"579e68ac9401458eb1f0d9f9465cc5b4"}'
  recorded_at: Thu, 10 Nov 2016 00:48:19 GMT
- request:
    method: get
    uri: http://api.local.pcfdev.io/v2/spaces
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - bearer 0123
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Vcap-Request-Id:
      - 01c3eec0-c8c0-425a-6d94-4fdc76a82376
      - 5be5c66f-c9a7-4f4b-4cf8-533648c71258::0386dcef-0bf8-4b42-8767-8a477950e08d
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "2bb3d3fc-ab40-48c4-8f20-848078f0612b",
                "url": "/v2/spaces/2bb3d3fc-ab40-48c4-8f20-848078f0612b",
                "created_at": "2016-11-04T00:04:14Z",
                "updated_at": null
              },
              "entity": {
                "name": "pcfdev-space",
                "organization_guid": "9b69d9d6-f040-4a0a-bf19-b88809faecb9",
                "space_quota_definition_guid": null,
                "allow_ssh": true,
                "organization_url": "/v2/organizations/9b69d9d6-f040-4a0a-bf19-b88809faecb9",
                "developers_url": "/v2/spaces/2bb3d3fc-ab40-48c4-8f20-848078f0612b/developers",
                "managers_url": "/v2/spaces/2bb3d3fc-ab40-48c4-8f20-848078f0612b/managers",
                "auditors_url": "/v2/spaces/2bb3d3fc-ab40-48c4-8f20-848078f0612b/auditors",
                "apps_url": "/v2/spaces/2bb3d3fc-ab40-48c4-8f20-848078f0612b/apps",
                "routes_url": "/v2/spaces/2bb3d3fc-ab40-48c4-8f20-848078f0612b/routes",
                "domains_url": "/v2/spaces/2bb3d3fc-ab40-48c4-8f20-848078f0612b/domains",
                "service_instances_url": "/v2/spaces/2bb3d3fc-ab40-48c4-8f20-848078f0612b/service_instances",
                "app_events_url": "/v2/spaces/2bb3d3fc-ab40-48c4-8f20-848078f0612b/app_events",
                "events_url": "/v2/spaces/2bb3d3fc-ab40-48c4-8f20-848078f0612b/events",
                "security_groups_url": "/v2/spaces/2bb3d3fc-ab40-48c4-8f20-848078f0612b/security_groups"
              }
            }
          ]
        }
  recorded_at: Thu, 10 Nov 2016 00:48:19 GMT
- request:
    method: get
    uri: http://api.local.pcfdev.io/v2/spaces/2bb3d3fc-ab40-48c4-8f20-848078f0612b/apps
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - bearer 0123
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Vcap-Request-Id:
      - c126f323-29e5-47cb-78bd-a9bed79d84d0::d165e1b3-7634-4122-82ae-6c2414ab6325
      - d34249ca-6bb9-4f41-4bad-d28f7499d58a
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 2,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "a7601aaf-4bbf-462a-9879-21137c584b8c",
                "url": "/v2/apps/a7601aaf-4bbf-462a-9879-21137c584b8c",
                "created_at": "2016-11-04T04:00:43Z",
                "updated_at": "2016-11-04T04:00:54Z"
              },
              "entity": {
                "name": "helloworld-html",
                "production": false,
                "space_guid": "2bb3d3fc-ab40-48c4-8f20-848078f0612b",
                "stack_guid": "db255a6c-706b-46cf-816d-d9611e3aa783",
                "buildpack": "staticfile_buildpack",
                "detected_buildpack": "",
                "environment_json": {

                },
                "memory": 64,
                "instances": 1,
                "disk_quota": 512,
                "state": "STARTED",
                "version": "4ed79efd-6d51-4c2b-aef9-baf0008b85e0",
                "command": null,
                "console": false,
                "debug": null,
                "staging_task_id": "9edd1b6695224c73a6604e7ccedbbcdf",
                "package_state": "STAGED",
                "health_check_type": "port",
                "health_check_timeout": null,
                "staging_failed_reason": null,
                "staging_failed_description": null,
                "diego": true,
                "docker_image": null,
                "package_updated_at": "2016-11-04T04:00:44Z",
                "detected_start_command": "sh boot.sh",
                "enable_ssh": true,
                "docker_credentials_json": {
                  "redacted_message": "[PRIVATE DATA HIDDEN]"
                },
                "ports": [
                  8080
                ],
                "space_url": "/v2/spaces/2bb3d3fc-ab40-48c4-8f20-848078f0612b",
                "stack_url": "/v2/stacks/db255a6c-706b-46cf-816d-d9611e3aa783",
                "routes_url": "/v2/apps/a7601aaf-4bbf-462a-9879-21137c584b8c/routes",
                "events_url": "/v2/apps/a7601aaf-4bbf-462a-9879-21137c584b8c/events",
                "service_bindings_url": "/v2/apps/a7601aaf-4bbf-462a-9879-21137c584b8c/service_bindings",
                "route_mappings_url": "/v2/apps/a7601aaf-4bbf-462a-9879-21137c584b8c/route_mappings"
              }
            },
            {
              "metadata": {
                "guid": "9d5fe105-4e89-485d-a1f0-2e50cf7aa8e2",
                "url": "/v2/apps/9d5fe105-4e89-485d-a1f0-2e50cf7aa8e2",
                "created_at": "2016-11-07T01:06:18Z",
                "updated_at": "2016-11-07T01:08:40Z"
              },
              "entity": {
                "name": "foo",
                "production": false,
         [...]
