---
http_interactions:
- request:
    method: get
    uri: http://api.local.pcfdev.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Vcap-Request-Id:
      - a13d56a5-a7e6-42de-72f4-fa1a76af33d3
      - e3feea60-36ce-494c-56c2-1873e9199040::88ec1492-2693-4560-bb04-ffbc9beab7ae
    body:
      encoding: UTF-8
      string: '{"name":"pcfdev","build":"788020ed6e326f98d2489f08d9cae171aba7d71d","support":"pcfdev@pivotal.io","version":0,"description":"","authorization_endpoint":"https://login.local.pcfdev.io","token_endpoint":"https://uaa.local.pcfdev.io","min_cli_version":null,"min_recommended_cli_version":null,"api_version":"2.54.0","app_ssh_endpoint":"ssh.local.pcfdev.io:2222","app_ssh_host_key_fingerprint":"a6:d1:08:0b:b0:cb:9b:5f:c4:ba:44:2a:97:26:19:8a","app_ssh_oauth_client":"ssh-proxy","logging_endpoint":"wss://loggregator.local.pcfdev.io:443","doppler_logging_endpoint":"wss://doppler.local.pcfdev.io:443"}'
  recorded_at: Thu, 17 Nov 2016 00:41:28 GMT
- request:
    method: post
    uri: https://login.local.pcfdev.io/oauth/token
    body:
      encoding: UTF-8
      string: client_id=cf&client_secret=&username=user&password=&grant_type=password
    headers:
      Authorization:
      - basic 0123
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Vcap-Request-Id:
      - 15d5eeb9-c3ea-4141-4361-c47b606e090a
    body:
      encoding: UTF-8
      string: '{"access_token":"0123","token_type":"bearer","refresh_token":"6789","expires_in":599,"scope":"openid
        uaa.user cloud_controller.read password.write cloud_controller.write","jti":"4567"}'
  recorded_at: Thu, 17 Nov 2016 00:41:28 GMT
- request:
    method: get
    uri: http://api.local.pcfdev.io/v2/routes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - bearer 0123
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Vcap-Request-Id:
      - 0cf408f3-f87a-4d0e-6975-5e1d6ad95d69
      - eab34f30-461b-42b4-5f62-8150283e170b::5e65e686-610d-44f1-8862-81896a56b84f
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 4,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "0ccbbc94-6071-4cb3-96b3-8474a8233336",
                "url": "/v2/routes/0ccbbc94-6071-4cb3-96b3-8474a8233336",
                "created_at": "2016-11-04T04:00:43Z",
                "updated_at": null
              },
              "entity": {
                "host": "helloworld-html",
                "path": "",
                "domain_guid": "64439c78-aaba-4a04-8771-7d5d2fa068c2",
                "space_guid": "2bb3d3fc-ab40-48c4-8f20-848078f0612b",
                "service_instance_guid": null,
                "port": null,
                "domain_url": "/v2/domains/64439c78-aaba-4a04-8771-7d5d2fa068c2",
                "space_url": "/v2/spaces/2bb3d3fc-ab40-48c4-8f20-848078f0612b",
                "apps_url": "/v2/routes/0ccbbc94-6071-4cb3-96b3-8474a8233336/apps",
                "route_mappings_url": "/v2/routes/0ccbbc94-6071-4cb3-96b3-8474a8233336/route_mappings"
              }
            },
            {
              "metadata": {
                "guid": "d2ca99d8-bb74-4462-80b9-5b4689784a46",
                "url": "/v2/routes/d2ca99d8-bb74-4462-80b9-5b4689784a46",
                "created_at": "2016-11-07T01:06:18Z",
                "updated_at": null
              },
              "entity": {
                "host": "foo",
                "path": "",
                "domain_guid": "[...]
