---
http_interactions:
- request:
    method: get
    uri: http://api.local.pcfdev.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Vcap-Request-Id:
      - 92a06cf3-62c7-4943-664b-5b885d1bdbb3
      - e1674e5d-6c3d-428a-710c-ffd17f7661b9::cd223b76-f361-4168-a1dd-229eef67b355
    body:
      encoding: UTF-8
      string: '{"name":"pcfdev","build":"788020ed6e326f98d2489f08d9cae171aba7d71d","support":"pcfdev@pivotal.io","version":0,"description":"","authorization_endpoint":"https://login.local.pcfdev.io","token_endpoint":"https://uaa.local.pcfdev.io","min_cli_version":null,"min_recommended_cli_version":null,"api_version":"2.54.0","app_ssh_endpoint":"ssh.local.pcfdev.io:2222","app_ssh_host_key_fingerprint":"a6:d1:08:0b:b0:cb:9b:5f:c4:ba:44:2a:97:26:19:8a","app_ssh_oauth_client":"ssh-proxy","logging_endpoint":"wss://loggregator.local.pcfdev.io:443","doppler_logging_endpoint":"wss://doppler.local.pcfdev.io:443"}'
  recorded_at: Thu, 10 Nov 2016 01:09:31 GMT
- request:
    method: post
    uri: https://login.local.pcfdev.io/oauth/token
    body:
      encoding: UTF-8
      string: client_id=cf&client_secret=&username=user&password=&grant_type=password
    headers:
      Authorization:
      - basic 0123
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Vcap-Request-Id:
      - d918b99c-c27d-478f-50c5-5a4e14aa1138
    body:
      encoding: UTF-8
      string: '{"access_token":"0123","token_type":"bearer","refresh_token":"6789","expires_in":599,"scope":"openid
        uaa.user cloud_controller.read password.write cloud_controller.write","jti":"4567"}'
  recorded_at: Thu, 10 Nov 2016 01:09:31 GMT
- request:
    method: get
    uri: http://api.local.pcfdev.io/v2/spaces
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - bearer 0123
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Vcap-Request-Id:
      - 14892fa3-f9d4-43a9-7354-8178f14cbc7e
      - 67a810db-efa5-4254-6116-d6c1847e8d8d::1fa6483c-197b-40ba-8b6d-16e512ffb220
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "2bb3d3fc-ab40-48c4-8f20-848078f0612b",
                "url": "/v2/spaces/2bb3d3fc-ab40-48c4-8f20-848078f0612b",
                "created_at": "2016-11-04T00:04:14Z",
                "updated_at": null
              },
              "entity": {
                "name": "pcfdev-space",
                "organization_guid": "9b69d9d6-f040-4a0a-bf19-b88809faecb9",
                "space_quota_definition_guid": null,
                "allow_ssh": true,
                "organization_url": "/v2/organizations/9b69d9d6-f040-4a0a-bf19-b88809faecb9",
                "developers_url": "/v2/spaces/2bb3d3fc-ab40-48c4-8f20-848078f0612b/developers",
                "managers_url": "/v2/spaces/2bb3d3fc-ab40-48c4-8f20-848078f0612b/managers",
                "auditors_url": "/v2/spaces/2bb3d3fc-ab40-48c4-8f20-848078f0612b/auditors",
                "apps_url": "/v2/spaces/2bb3d3fc-ab40-48c4-8f20-848078f0612b/apps",
                "routes_url": "/v2/spaces/2bb3d3fc-ab40-48c4-8f20-848078f0612b/routes",
                "domains_url": "/v2/spaces/2bb3d3fc-ab40-48c4-8f20-848078f0612b/domains",
                "service_instances_url": "/v2/spaces/2bb3d3fc-ab40-48c4-8f20-848078f0612b/service_instances",
                "app_events_url": "/v2/spaces/2bb3d3fc-ab40-48c4-8f20-848078f0612b/app_events",
                "events_url": "/v2/spaces/2bb3d3fc-ab40-48c4-8f20-848078f0612b/events",
                "security_groups_url": "/v2/spaces/2bb3d3fc-ab40-48c4-8f20-848078f0612b/security_groups"
              }
            }
          ]
        }
  recorded_at: Thu, 10 Nov 2016 01:09:31 GMT
- request:
    method: get
    uri: http://api.local.pcfdev.io/v2/spaces/2bb3d3fc-ab40-48c4-8f20-848078f0612b/user_roles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - bearer 0123
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Vcap-Request-Id:
      - 163c26b2-cf41-4dca-79c8-783592faf074
      - 5cf67bcb-4a26-45b1-6ac6-95fac5c19817::53bef06a-1226-495f-bc74-61a6713e1f03
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 2,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "d2abb1c1-b3ef-47f8-b93a-f194b5f846dd",
                "url": "/v2/users/d2abb1c1-b3ef-47f8-b93a-f194b5f846dd",
                "created_at": "2016-11-04T00:04:11Z",
                "updated_at": null
              },
              "entity": {
                "admin": 0,
                "active": 1,
                "default_space_guid": null,
                "username": "admin",
                "space_roles": [
                  "space_developer",
                  "space_manager"
                ],
                "spaces_url": "/v2/users/d2abb1c1-b3ef-47f8-b93a-f194b5f846dd/spaces",
                "organizations_url": "/v2/users/d2abb1c1-b3ef-47f8-b93a-f194b5f846dd/organizations",
                "managed_organizations_url": "/v2/users/d2abb1c1-b3ef-47f8-b93a-f194b5f846dd/managed_organizations",
                "billing_managed_organizations_url": "/v2/users/d2abb1c1-b3ef-47f8-b93a-f194b5f846dd/billing_managed_organizations",
                "audited_organizations_url": "/v2/users/d2abb1c1-b3ef-47f8-b93a-f194b5f846dd/audited_organizations",
                "managed_spaces_url": "/v2/users/d2abb1c1-b3ef-47f8-b93a-f194b5f846dd/managed_spaces",
                "audited_spaces_url": "/v2/users/d2abb1c1-b3ef-47f8-b93a-f194b5f846dd/audited_spaces"
              }
            },
            {
              "metadata": {
                "guid": "3449261d-e35d-4bdb-9db5-582669d8506b",
                "url": "/v2/users/3449261d-e35d-4bdb-9db5-582669d8506b",
                "created_at": "2016-11-04T00:04:21Z",
                "updated_at": null
              },
              "entity": {
                "admin": 0,
                "active": 0,
                "default_space_guid"[...]
