---
http_interactions:
- request:
    method: get
    uri: http://api.local.pcfdev.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Vcap-Request-Id:
      - 49629f9d-ff8c-4771-5f70-ac379d04c789::ffa17999-de6d-497f-9ed3-f50cf0f0246e
      - 7d87c327-d41d-4dd8-4710-e7c856e30b1c
    body:
      encoding: UTF-8
      string: '{"name":"pcfdev","build":"788020ed6e326f98d2489f08d9cae171aba7d71d","support":"pcfdev@pivotal.io","version":0,"description":"","authorization_endpoint":"https://login.local.pcfdev.io","token_endpoint":"https://uaa.local.pcfdev.io","min_cli_version":null,"min_recommended_cli_version":null,"api_version":"2.54.0","app_ssh_endpoint":"ssh.local.pcfdev.io:2222","app_ssh_host_key_fingerprint":"a6:d1:08:0b:b0:cb:9b:5f:c4:ba:44:2a:97:26:19:8a","app_ssh_oauth_client":"ssh-proxy","logging_endpoint":"wss://loggregator.local.pcfdev.io:443","doppler_logging_endpoint":"wss://doppler.local.pcfdev.io:443"}'
  recorded_at: Thu, 10 Nov 2016 01:09:30 GMT
- request:
    method: post
    uri: https://login.local.pcfdev.io/oauth/token
    body:
      encoding: UTF-8
      string: client_id=cf&client_secret=&username=user&password=&grant_type=password
    headers:
      Authorization:
      - basic 0123
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Vcap-Request-Id:
      - 9cd89891-2d3d-49fa-5b79-7c16a183d17e
    body:
      encoding: UTF-8
      string: '{"access_token":"0123","token_type":"bearer","refresh_token":"6789","expires_in":599,"scope":"openid
        uaa.user cloud_controller.read password.write cloud_controller.write","jti":"4567"}'
  recorded_at: Thu, 10 Nov 2016 01:09:31 GMT
- request:
    method: get
    uri: http://api.local.pcfdev.io/v2/spaces
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - bearer 0123
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Vcap-Request-Id:
      - 15848604-32b3-48c9-6260-cd886b1fd7dd::02570087-0f19-4ddd-951a-3362e026e4ed
      - 219aeb70-a6cf-4c78-5e20-5071d0e25623
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "2bb3d3fc-ab40-48c4-8f20-848078f0612b",
                "url": "/v2/spaces/2bb3d3fc-ab40-48c4-8f20-848078f0612b",
                "created_at": "2016-11-04T00:04:14Z",
                "updated_at": null
              },
              "entity": {
                "name": "pcfdev-space",
                "organization_guid": "9b69d9d6-f040-4a0a-bf19-b88809faecb9",
                "space_quota_definition_guid": null,
                "allow_ssh": true,
                "organization_url": "/v2/organizations/9b69d9d6-f040-4a0a-bf19-b88809faecb9",
                "developers_url": "/v2/spaces/2bb3d3fc-ab40-48c4-8f20-848078f0612b/developers",
                "managers_url": "/v2/spaces/2bb3d3fc-ab40-48c4-8f20-848078f0612b/managers",
                "auditors_url": "/v2/spaces/2bb3d3fc-ab40-48c4-8f20-848078f0612b/auditors",
                "apps_url": "/v2/spaces/2bb3d3fc-ab40-48c4-8f20-848078f0612b/apps",
                "routes_url": "/v2/spaces/2bb3d3fc-ab40-48c4-8f20-848078f0612b/routes",
                "domains_url": "/v2/spaces/2bb3d3fc-ab40-48c4-8f20-848078f0612b/domains",
                "service_instances_url": "/v2/spaces/2bb3d3fc-ab40-48c4-8f20-848078f0612b/service_instances",
                "app_events_url": "/v2/spaces/2bb3d3fc-ab40-48c4-8f20-848078f0612b/app_events",
                "events_url": "/v2/spaces/2bb3d3fc-ab40-48c4-8f20-848078f0612b/events",
                "security_groups_url": "/v2/spaces/2bb3d3fc-ab40-48c4-8f20-848078f0612b/security_groups"
              }
            }
          ]
        }
  recorded_at: Thu, 10 Nov 2016 01:09:31 GMT
recorded_with: VCR 3.0.3
