---
http_interactions:
- request:
    method: get
    uri: http://api.local.pcfdev.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Vcap-Request-Id:
      - 5d5942be-0a02-450d-5508-7b23accc3393
      - b7c88d71-3ddb-4570-7b51-396dd79c041f::5b29de1a-4a9c-4688-97a4-9f8c6263dfd5
    body:
      encoding: UTF-8
      string: '{"name":"pcfdev","build":"788020ed6e326f98d2489f08d9cae171aba7d71d","support":"pcfdev@pivotal.io","version":0,"description":"","authorization_endpoint":"https://login.local.pcfdev.io","token_endpoint":"https://uaa.local.pcfdev.io","min_cli_version":null,"min_recommended_cli_version":null,"api_version":"2.54.0","app_ssh_endpoint":"ssh.local.pcfdev.io:2222","app_ssh_host_key_fingerprint":"a6:d1:08:0b:b0:cb:9b:5f:c4:ba:44:2a:97:26:19:8a","app_ssh_oauth_client":"ssh-proxy","logging_endpoint":"wss://loggregator.local.pcfdev.io:443","doppler_logging_endpoint":"wss://doppler.local.pcfdev.io:443"}'
  recorded_at: Thu, 10 Nov 2016 02:44:08 GMT
- request:
    method: post
    uri: https://login.local.pcfdev.io/oauth/token
    body:
      encoding: UTF-8
      string: client_id=cf&client_secret=&username=user&password=&grant_type=password
    headers:
      Authorization:
      - basic 0123
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Vcap-Request-Id:
      - aba31e98-16c4-4cf0-6bec-8f8f64aeae55
    body:
      encoding: UTF-8
      string: '{"access_token":"0123","token_type":"bearer","refresh_token":"6789","expires_in":599,"scope":"openid
        uaa.user cloud_controller.read password.write cloud_controller.write","jti":"4567"}'
  recorded_at: Thu, 10 Nov 2016 02:44:08 GMT
- request:
    method: get
    uri: http://api.local.pcfdev.io/v2/organizations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - bearer 0123
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Vcap-Request-Id:
      - 060d3aa0-924d-462f-4358-23c8f4f3e965
      - 23287aac-6437-4cf0-4a45-fd6499f00693::47b9eebd-6c08-4f80-9cae-75164140ab21
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "9b69d9d6-f040-4a0a-bf19-b88809faecb9",
                "url": "/v2/organizations/9b69d9d6-f040-4a0a-bf19-b88809faecb9",
                "created_at": "2016-11-03T23:59:58Z",
                "updated_at": null
              },
              "entity": {
                "name": "pcfdev-org",
                "billing_enabled": false,
                "quota_definition_guid": "e863cf04-043f-4ddd-9095-6f312968729f",
                "status": "active",
                "quota_definition_url": "/v2/quota_definitions/e863cf04-043f-4ddd-9095-6f312968729f",
                "spaces_url": "/v2/organizations/9b69d9d6-f040-4a0a-bf19-b88809faecb9/spaces",
                "domains_url": "/v2/organizations/9b69d9d6-f040-4a0a-bf19-b88809faecb9/domains",
                "private_domains_url": "/v2/organizations/9b69d9d6-f040-4a0a-bf19-b88809faecb9/private_domains",
                "users_url": "/v2/organizations/9b69d9d6-f040-4a0a-bf19-b88809faecb9/users",
                "managers_url": "/v2/organizations/9b69d9d6-f040-4a0a-bf19-b88809faecb9/managers",
                "billing_managers_url": "/v2/organizations/9b69d9d6-f040-4a0a-bf19-b88809faecb9/billing_managers",
                "auditors_url": "/v2/organizations/9b69d9d6-f040-4a0a-bf19-b88809faecb9/auditors",
                "app_events_url": "/v2/organizations/9b69d9d6-f040-4a0a-bf19-b88809faecb9/app_events",
                "space_quota_definitions_url": "/v2/organizations/9b69d9d6-f040-4a0a-bf19-b88809faecb9/space_quota_definitions"
              }
            }
          ]
        }
  recorded_at: Thu, 10 Nov 2016 02:44:08 GMT
recorded_with: VCR 3.0.3
