---
http_interactions:
- request:
    method: get
    uri: http://api.local.pcfdev.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Vcap-Request-Id:
      - 7401c774-2c79-4f23-55c2-164096c775d0::4912fc70-29ee-4bb6-a574-a1417d4e972a
      - 8be4fd54-6676-4c8c-69e1-94d2aa4948ea
    body:
      encoding: UTF-8
      string: '{"name":"pcfdev","build":"788020ed6e326f98d2489f08d9cae171aba7d71d","support":"pcfdev@pivotal.io","version":0,"description":"","authorization_endpoint":"https://login.local.pcfdev.io","token_endpoint":"https://uaa.local.pcfdev.io","min_cli_version":null,"min_recommended_cli_version":null,"api_version":"2.54.0","app_ssh_endpoint":"ssh.local.pcfdev.io:2222","app_ssh_host_key_fingerprint":"a6:d1:08:0b:b0:cb:9b:5f:c4:ba:44:2a:97:26:19:8a","app_ssh_oauth_client":"ssh-proxy","logging_endpoint":"wss://loggregator.local.pcfdev.io:443","doppler_logging_endpoint":"wss://doppler.local.pcfdev.io:443"}'
  recorded_at: Wed, 16 Nov 2016 06:11:36 GMT
- request:
    method: post
    uri: https://login.local.pcfdev.io/oauth/token
    body:
      encoding: UTF-8
      string: client_id=cf&client_secret=&username=user&password=&grant_type=password
    headers:
      Authorization:
      - basic 0123
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Vcap-Request-Id:
      - 783701bc-9976-498d-6b24-a9f97b18dd29
    body:
      encoding: UTF-8
      string: '{"access_token":"0123","token_type":"bearer","refresh_token":"6789","expires_in":599,"scope":"openid
        uaa.user cloud_controller.read password.write cloud_controller.write","jti":"4567"}'
  recorded_at: Wed, 16 Nov 2016 06:11:36 GMT
recorded_with: VCR 3.0.3
