---
http_interactions:
- request:
    method: get
    uri: http://api.local.pcfdev.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Vcap-Request-Id:
      - 180627f3-d74d-4699-7091-d772faf691eb
      - e22285de-53a7-483c-58cb-8b05f5a63145::2ef12fd6-54bf-474d-a764-0d1ab3ac9aea
    body:
      encoding: UTF-8
      string: '{"name":"pcfdev","build":"788020ed6e326f98d2489f08d9cae171aba7d71d","support":"pcfdev@pivotal.io","version":0,"description":"","authorization_endpoint":"https://login.local.pcfdev.io","token_endpoint":"https://uaa.local.pcfdev.io","min_cli_version":null,"min_recommended_cli_version":null,"api_version":"2.54.0","app_ssh_endpoint":"ssh.local.pcfdev.io:2222","app_ssh_host_key_fingerprint":"a6:d1:08:0b:b0:cb:9b:5f:c4:ba:44:2a:97:26:19:8a","app_ssh_oauth_client":"ssh-proxy","logging_endpoint":"wss://loggregator.local.pcfdev.io:443","doppler_logging_endpoint":"wss://doppler.local.pcfdev.io:443"}'
  recorded_at: Thu, 10 Nov 2016 02:44:08 GMT
- request:
    method: post
    uri: https://login.local.pcfdev.io/oauth/token
    body:
      encoding: UTF-8
      string: client_id=cf&client_secret=&username=user&password=&grant_type=password
    headers:
      Authorization:
      - basic 0123
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Vcap-Request-Id:
      - 3c3347d1-fdfd-4b12-54dd-c0df04237b97
    body:
      encoding: UTF-8
      string: '{"access_token":"0123","token_type":"bearer","refresh_token":"6789","expires_in":599,"scope":"openid
        uaa.user cloud_controller.read password.write cloud_controller.write","jti":"4567"}'
  recorded_at: Thu, 10 Nov 2016 02:44:08 GMT
- request:
    method: get
    uri: http://api.local.pcfdev.io/v2/organizations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - bearer 0123
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Vcap-Request-Id:
      - 45d505ec-c687-4d37-6e4c-7011af0f6b15
      - eac88875-87ac-4d3c-72e8-49a108df37e5::fcfffc1a-70ae-498f-b191-c62683593861
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "9b69d9d6-f040-4a0a-bf19-b88809faecb9",
                "url": "/v2/organizations/9b69d9d6-f040-4a0a-bf19-b88809faecb9",
                "created_at": "2016-11-03T23:59:58Z",
                "updated_at": null
              },
              "entity": {
                "name": "pcfdev-org",
                "billing_enabled": false,
                "quota_definition_guid": "e863cf04-043f-4ddd-9095-6f312968729f",
                "status": "active",
                "quota_definition_url": "/v2/quota_definitions/e863cf04-043f-4ddd-9095-6f312968729f",
                "spaces_url": "/v2/organizations/9b69d9d6-f040-4a0a-bf19-b88809faecb9/spaces",
                "domains_url": "/v2/organizations/9b69d9d6-f040-4a0a-bf19-b88809faecb9/domains",
                "private_domains_url": "/v2/organizations/9b69d9d6-f040-4a0a-bf19-b88809faecb9/private_domains",
                "users_url": "/v2/organizations/9b69d9d6-f040-4a0a-bf19-b88809faecb9/users",
                "managers_url": "/v2/organizations/9b69d9d6-f040-4a0a-bf19-b88809faecb9/managers",
                "billing_managers_url": "/v2/organizations/9b69d9d6-f040-4a0a-bf19-b88809faecb9/billing_managers",
                "auditors_url": "/v2/organizations/9b69d9d6-f040-4a0a-bf19-b88809faecb9/auditors",
                "app_events_url": "/v2/organizations/9b69d9d6-f040-4a0a-bf19-b88809faecb9/app_events",
                "space_quota_definitions_url": "/v2/organizations/9b69d9d6-f040-4a0a-bf19-b88809faecb9/space_quota_definitions"
              }
            }
          ]
        }
  recorded_at: Thu, 10 Nov 2016 02:44:08 GMT
recorded_with: VCR 3.0.3
