---
http_interactions:
- request:
    method: get
    uri: http://api.local.pcfdev.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Vcap-Request-Id:
      - 5ef0331b-1f8b-40de-6451-8980c746e963::f01d7818-81e6-4d31-bd57-bc84c77fd412
      - a6ba2430-527a-4303-5a82-72afe1cd41f9
    body:
      encoding: UTF-8
      string: '{"name":"pcfdev","build":"788020ed6e326f98d2489f08d9cae171aba7d71d","support":"pcfdev@pivotal.io","version":0,"description":"","authorization_endpoint":"https://login.local.pcfdev.io","token_endpoint":"https://uaa.local.pcfdev.io","min_cli_version":null,"min_recommended_cli_version":null,"api_version":"2.54.0","app_ssh_endpoint":"ssh.local.pcfdev.io:2222","app_ssh_host_key_fingerprint":"a6:d1:08:0b:b0:cb:9b:5f:c4:ba:44:2a:97:26:19:8a","app_ssh_oauth_client":"ssh-proxy","logging_endpoint":"wss://loggregator.local.pcfdev.io:443","doppler_logging_endpoint":"wss://doppler.local.pcfdev.io:443"}'
  recorded_at: Thu, 10 Nov 2016 00:48:18 GMT
- request:
    method: post
    uri: https://login.local.pcfdev.io/oauth/token
    body:
      encoding: UTF-8
      string: client_id=cf&client_secret=&username=user&password=&grant_type=password
    headers:
      Authorization:
      - basic 0123
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Vcap-Request-Id:
      - ea738a15-b64d-4d69-489f-9f754539441f
    body:
      encoding: UTF-8
      string: '{"access_token":"0123","token_type":"bearer","refresh_token":"6789","expires_in":599,"scope":"openid
        uaa.user cloud_controller.read password.write cloud_controller.write","jti":"200214cab26c4e3590f6db39dea24cda"}'
  recorded_at: Thu, 10 Nov 2016 00:48:19 GMT
- request:
    method: get
    uri: http://api.local.pcfdev.io/v2/spaces
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - bearer 0123
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Vcap-Request-Id:
      - 60b30c8f-c24b-4df2-64e1-c4ca41dc15df::295119ea-2163-4269-9365-31d0eb6449b2
      - d918f96f-c1b9-4720-7742-0b4fd0dc1228
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "2bb3d3fc-ab40-48c4-8f20-848078f0612b",
                "url": "/v2/spaces/2bb3d3fc-ab40-48c4-8f20-848078f0612b",
                "created_at": "2016-11-04T00:04:14Z",
                "updated_at": null
              },
              "entity": {
                "name": "pcfdev-space",
                "organization_guid": "9b69d9d6-f040-4a0a-bf19-b88809faecb9",
                "space_quota_definition_guid": null,
                "allow_ssh": true,
                "organization_url": "/v2/organizations/9b69d9d6-f040-4a0a-bf19-b88809faecb9",
                "developers_url": "/v2/spaces/2bb3d3fc-ab40-48c4-8f20-848078f0612b/developers",
                "managers_url": "/v2/spaces/2bb3d3fc-ab40-48c4-8f20-848078f0612b/managers",
                "auditors_url": "/v2/spaces/2bb3d3fc-ab40-48c4-8f20-848078f0612b/auditors",
                "apps_url": "/v2/spaces/2bb3d3fc-ab40-48c4-8f20-848078f0612b/apps",
                "routes_url": "/v2/spaces/2bb3d3fc-ab40-48c4-8f20-848078f0612b/routes",
                "domains_url": "/v2/spaces/2bb3d3fc-ab40-48c4-8f20-848078f0612b/domains",
                "service_instances_url": "/v2/spaces/2bb3d3fc-ab40-48c4-8f20-848078f0612b/service_instances",
                "app_events_url": "/v2/spaces/2bb3d3fc-ab40-48c4-8f20-848078f0612b/app_events",
                "events_url": "/v2/spaces/2bb3d3fc-ab40-48c4-8f20-848078f0612b/events",
                "security_groups_url": "/v2/spaces/2bb3d3fc-ab40-48c4-8f20-848078f0612b/security_groups"
              }
            }
          ]
        }
  recorded_at: Thu, 10 Nov 2016 00:48:19 GMT
recorded_with: VCR 3.0.3
